#buttons > sl-button{
    margin: var(--sl-spacing-3x-small);
    min-width: var(--sl-spacing-4x-large);
    touch-action: manipulation;
}

#main {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

#buttons {
    width: 100%;
    box-sizing: border-box;
}

.copyright {
    text-align: center;
    color: #bbb;
    cursor: pointer;
}